[submodule "formacao-html-web-developer/criar-uma-pagina-web-utilizando-as-tags-aprendidas/exemplo"]
	path = formacao-html-web-developer/criar-uma-pagina-web-utilizando-as-tags-aprendidas/exemplo
	url = git@github.com:digitalinnovationone/trilha-html-modulo-1.git
