[submodule "formacao-html-web-developer/criar-uma-pagina-web-utilizando-as-tags-aprendidas/exemplo"]
	path = formacao-html-web-developer/criar-uma-pagina-web-utilizando-as-tags-aprendidas/exemplo
	url = git@github.com:digitalinnovationone/trilha-html-modulo-1.git
[submodule "formacao-html-web-developer/criando-seu-primeiro-site-completo-com-html/exemplo"]
	path = formacao-html-web-developer/criando-seu-primeiro-site-completo-com-html/exemplo
	url = git@github.com:digitalinnovationone/trilha-html-modulo-2.git
[submodule "formacao-html-web-developer/recriando-o-wikipedia-com-layout-moderno/exemplo"]
	path = formacao-html-web-developer/recriando-o-wikipedia-com-layout-moderno/exemplo
	url = git@github.com:digitalinnovationone/trilha-html-modulo-3.git
[submodule "formacao-javascript-developer/construindo-uma-pokedex-com-javascript/exemplo"]
	path = formacao-javascript-developer/construindo-uma-pokedex-com-javascript/exemplo
	url = git@github.com:digitalinnovationone/js-developer-pokedex.git
[submodule "formacao-javascript-developer/publicando-seu-portfolio-profissional-no-github-pages/exemplo"]
	path = formacao-javascript-developer/publicando-seu-portfolio-profissional-no-github-pages/exemplo
	url = git@github.com:digitalinnovationone/js-developer-portfolio.git
[submodule "formacao-php-experience/laravel-construindo-uma-api-do-zero/exemplo"]
	path = formacao-php-experience/laravel-construindo-uma-api-do-zero/exemplo
	url = git@github.com:danbonattis/dio-laravel-api.git
[submodule "formacao-docker-fundamentals/criando-um-container-de-uma-aplicacao-web/exemplo"]
	path = formacao-docker-fundamentals/criando-um-container-de-uma-aplicacao-web/exemplo
	url = git@github.com:denilsonbonatti/docker-projeto1-dio.git
[submodule "formacao-docker-fundamentals/definicao-de-um-cluster-swarm-local-com-o-vagrant/exemplo"]
	path = formacao-docker-fundamentals/definicao-de-um-cluster-swarm-local-com-o-vagrant/exemplo
	url = git@github.com:denilsonbonatti/docker-projeto2-cluster.git
